.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  border:1px solid #aaa;
  border-radius: 5px;

  height: 500px;
  overflow: scroll;
}

.container {
  box-sizing: border-box;
  width: 100%;

}

.container .row {
  height: 30px;
  display: flex;
  justify-content: space-between;

}

.container span {
  flex: 1;
  border-bottom: 1px solid #eee;
}
